/* huge screens ----------- */
@media screen and (min-width: 2000px) {


}


/* large screens ----------- */
@media screen and (min-width: 1200px) {


}


/* When the screen gets a little small ----------- */
@media screen and (max-width: 1024px) {


}


/* iPad portrait and smaller ----------- */
@media screen and (max-width: 768px) {

	body {
	color: #333333;
	font-size: 1em;
	font-size: 1rem;
	}

	.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 1.5em;
	padding: 0 1.5rem;
	max-width: inherit;
	min-width: inherit;
	}


	.float-left, .float-right, section, .block, .region .block, .footer .block, .region-footer > div, #logo, .region, .cols > .col, .region-navigation, .sidebar-second .content-wrapper, .sidebar-first .content-wrapper, .sidebar, .sidebar-first .sidebar-first, .sidebar-second .sidebar-second {
	float: none;
	width: 100%;
	max-width: 100%;
	min-height: inherit;
	height: auto;
	padding: 0;
	margin: 0;
	text-align: left;
	border: none;
	}

	#content {
	margin: 0;
	}


	/* Drupal Forms including /user/login */

	ul.tabs.primary {
	border: none;
	}

	ul.tabs.primary li {
	display: block;
	margin: 5px 0;
	}

	ul.tabs.primary li a {
	border: 1px solid #ccc;
	border-radius: 4px;
	}

	.password-strength, div.form-item div.password-suggestions {
	max-width: 100%;
	float: none;
	margin-bottom: 0.5em;
	}


}